# Dependencies
node_modules/
/package-lock.json
/npm-shrinkwrap.json

# Logs
*.log
*.gz
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor files (VS Code)
.vscode/

# Build artifacts
/dist
/build
.nyc_output/
coverage/

# Environment files
.env
.env.local
